<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Quoting Dojo</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- <script type ="text/javascript" src="/socket.io/socket.io.js"></script> -->
    <script type ="text/javascript">
    $(document).ready(function (){
    });
    </script>

  </head>
  <body>
    <h1>Delete Goat?</h1>
    <form action='/goats/destroy/<%= id %>' method = 'post'>
      <input type="submit" name="delete_goat" value="delete your goat!">
    </form>
  </body>
</html>
